

img {
    object-fit: cover;  

}

p {
    font-size: 1em;
}


.headerCard {
    
    background-color: var(--c-brand);  
    font-size: large;
    letter-spacing: 1px;

    /* height:250px; */
}

.card {
    border-radius: 15px;
    background-color: var(--c-light);
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-size: cover; */
    /* z-index: 1; */
    /* max-width: 100%; */
    /* height: auto; */
}

.btn {
    /* updateprofile */
    z-index: 1;
}

/* .detail {
    margin-top: 180px;
} */

.profileImage {
    width: 150px;
}

/* .figureCenter h3{
    color: logo_violet.png;
} */